<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Klasifikasi Jurnal</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li> 
                <li data-username="Profile Page" 
                    class="nav-item {% if 'processed' in segment %} active {% endif %}">
                    <a href="/processed.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                            <span class="pcoded-mtext">Processed Page</span></a>
                </li>  
                <li class="nav-item pcoded-menu-caption">
                    <label>Performance</label>
                </li>
                <li data-username="Confusion Matrix" 
                    class="nav-item {% if 'confusion-matrix' in segment %} active {% endif %}">
                    <a href="/confusion-matrix.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-loader"></i></span><span
                        class="pcoded-mtext">Confusion Matrix</span></a></li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="/tbl_performance.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-bar-chart"></i></span><span class="pcoded-mtext">Performance</span></a>
                </li>                
                <li class="nav-item pcoded-menu-caption">
                    <label>Predict</label>
                </li>
                <li data-username="Predict Page" class="nav-item"><a href="/predict.html" class="nav-link"><span
                    class="pcoded-micon"><i class="feather icon-tablet"></i></span><span class="pcoded-mtext">Predict page</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://www.linkedin.com/in/alfin-yusriansyah/" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li>   
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>                  
             
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
